# Ignore the virtual environment
venv/

# Ignore your secret token!
.env

# Ignore downloaded images and huge CSV files
images/
huggingface_models.csv
edges.csv
merged_dataset.csv
nodes.csv
all_text_generation_models.csv
images.zip
processed_models.txt
edges_sample_1k.csv
nodes_enriched.csv
nodes_sample_1k.csv

# Ignore Python cache files
__pycache__/
*.pyc